{
  "family": "datapro-web",
  "networkMode": "awsvpc",
  "requiresCompatibilities": ["FARGATE"],
  "cpu": "__TASK_CPU__",
  "memory": "__TASK_MEMORY__",
  "executionRoleArn": "arn:aws:iam::__AWS_ACCOUNT_ID__:role/ecsTaskExecutionRole",
  "containerDefinitions": [
    {
      "name": "web",
      "image": "__IMAGE_WEB__",
      "essential": true,
      "portMappings": [
        {
          "containerPort": 80,
          "protocol": "tcp"
        }
      ],
      "environment": [
        { "name": "API_UPSTREAM_HOST", "value": "__API_UPSTREAM_HOST__" }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "__LOG_GROUP_WEB__",
          "awslogs-region": "__AWS_REGION__",
          "awslogs-stream-prefix": "web"
        }
      }
    }
  ]
}
